//
//  macros.scss
//  boilerplate
// 
//  Created by Wess Cope (me@wess.io) on 05/11/20
//  Copyright 2020 Wess Cope
//

@import "prismjs/themes/prism.css";

#macros {
  display:        flex;
  flex-direction: row;
  width:          100%;

  #macros-empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    #empty-content {
      padding: 10px;


      h1, h3 {
        margin: 0;
        padding: 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.2);
        text-shadow:  0 1px 0 #fff;
      }

      h1 {
        font-size: 160px;
        
        svg {
          filter: drop-shadow(0 2px 0 white);
        }
      }

      h3 {
        font-size: 26px;
      }
    }
  }

  #macro-list {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    max-width: 160px;
    width: 160px;

    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);


    #macro-files {
      padding: 2px 6px;
    }    

    #list-toolbar {
      display: flex;
      flex-direction: row;
      background: rgba(0, 0, 0, 0.03);
      padding: 4px 6px;

      $color: rgba(0, 0, 0, 0.8);

      h3 {
        flex: 1;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: $color;
      }

      a {
        color: $color;
        display: inline-block;
        margin: 0 6px;

        font-size: 14px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: #000;
        }
      }
    }  

    #new-macro-form {
      margin-top: 4px;
      padding: 1px 4px;
    }
  }

  #editor-toolbar {
    width:100%;
    display:flex;

    #macro-file-path {
      flex: 1;
    }

    #macro-file-controls {
      align-self: center;

      padding-right: 10px;
      
      a {
        color: rgba(0, 0, 0, 0.4);
        font-size: 16px;
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }  
  }

  #editor-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #editor-toolbar {
    padding: 4px 8px;
    background: #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    min-height: 30px;
    height: 30px;
  }

  #macro-editor {
    flex: 1;
    display:flex;
    width: 100%;
    background: #fff;

    #editor-buffer {
      margin: 10px;

      flex:1;
      display:flex;
      flex-direction: row;

      .line {
        display: table-row;
      }

      .line-number {
        display: table-cell;
        text-align: right;
        padding-right: 1em;
        color: rgba(0, 0, 0, 0.4);
        pointer-events: all;
      }

      .line-content {
        display: table-cell;
        
      }

      #editor-textarea {
        flex: 1;
        box-sizing: border-box;

        textarea {
          box-shadow: none;
          outline: none;
          margin-left: 1.5em !important;

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }
}
