//
//  terminal.scss
//  matter
// 
//  Created by Wess Cope (me@wess.io) on 04/30/20
//  Copyright 2020 Wess Cope
//

#terminal {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: rgba(255, 255, 255, 0.96);
  overflow:hidden;
    
  #buffer {
    flex: 1;
    display:flex;
    flex-direction: column-reverse;

    overflow-y: scroll;

    ul {
      li {
        &:nth-child(even) {
          background: #fff !important;
        }
        &:nth-child(odd) {
          background: #fafafa !important;
        }
  
      }
    }

  }

  #command-line {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 8px;

    .buffer-input {
      flex: 1;

      .buffer-input-field {
        border: none;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 0 !important;
        }
      }
    }
  }
}

.terminal-settings-menu {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
